<header class="panel-cover">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="All posts">
          <img src="{{ site.baseurl }}/images/avatar.jpeg" class="user-image" alt="Aviv Carmi">
          <h1 class="panel-cover__title panel-title">Aviv Carmi</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">
          {{ site.slogan }}
        </p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">

              <li class="navigation__item">
                <a href="https://www.github.com/avivcarmis" title="avivcarmis on GitHub">
                  <i class="icon icon-social-github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>

              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/avivcarmis" title="avivcarmis on LinkedIn">
                  <i class="icon icon-social-linkedin"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>

              <li class="navigation__item">
                <a href="https://medium.com/@avivcarmis" title="@avivcarmis on Medium">
                  <i class="icon icon-social-medium"></i>
                  <span class="label">Medium</span>
                </a>
              </li>

              <li class="navigation__item">
                <a href="https://twitter.com/avivcarmis" title="@avivcarmis on Twitter">
                  <i class="icon icon-social-twitter"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>

              <li class="navigation__item">
                <a href="https://stackoverflow.com/users/1932186/aviv-carmi" title="Aviv Carmi on Stack Overflow">
                  <i class="icon icon-social-stack-overflow"></i>
                  <span class="label">Stack Overflow</span>
                </a>
              </li>

              <li class="navigation__item">
                <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}">
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li>

            </ul>
          </nav>

        </div>

      </div>

    </div>

  </div>
</header>